<ActionBar class="action-bar">
    <NavigationButton text="Atras" android.systemIcon="ic_menu_back" (tap)="getBack()"></NavigationButton>
    <Label class="action-bar-title" [text]="_title"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page">

        <StackLayout class="form" *ngIf="_viewHelp">
            <Label class="sub-title" text="¿ En qué podemos Ayudarte o ayudanos a mejorar ?" textWrap="true"></Label>
            <TextField hint="Asunto" [(ngModel)]="_dataOpinions._asuntoOpinion" text=""></TextField>
            <TextField hint="Descripción" [(ngModel)]="_dataOpinions._descripcionOpinion" text=""></TextField>
            <Button class="btn1" text="Enviar" (tap)="EnviarAsunto()"></Button>
            <Label class="separador" textWrap="true"></Label>
            <Label class="sub-title" text="También puedes contactarnos directamente" textWrap="true"></Label>
            <StackLayout>
                <ScrollView>
                    <StackLayout>
                        <WrapLayout>
                            <GridLayout row="0" col="0" rows="*" columns="*,*" class="services" height="70">
                                <Label row="0" col="0" class="op-title" text="Celular" textWrap="true"></Label>
                                <Label row="0" col="0" horizontalAlignment="left" text="320-423-25-11" class="txt" textWrap="true"></Label>

                            </GridLayout>
                        </WrapLayout>
                        <WrapLayout>
                            <GridLayout row="0" col="0" rows="*" columns="*,*" class="services" height="70">
                                <Label row="0" col="0" class="op-title" text="Correo Electrónico" textWrap="true"></Label>
                                <Label row="0" col="0" horizontalAlignment="left" text="info@vetscol.com" class="txt" textWrap="true"></Label>

                            </GridLayout>
                        </WrapLayout>
                        <WrapLayout>
                            <GridLayout row="0" col="0" rows="*" columns="*,*" class="services" height="70">
                                <Label row="0" col="0" class="op-title" text="Whatsapp" textWrap="true"></Label>
                                <Label row="0" col="0" horizontalAlignment="left" text="320-423-25-11" class="txt" textWrap="true"></Label>
                            </GridLayout>
                        </WrapLayout>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
        </StackLayout>

        <StackLayout class="form" *ngIf="_viewBuguet">
            <Label text="_viewBuguet" textWrap="true"></Label>
        </StackLayout>

        <StackLayout class="form" *ngIf="_viewVets">
            <Label class="title" text="VetsCol" textWrap="true"></Label>
            <Image src="res://icon" height="50" width="50"></Image>

            <Label class="sub-title" text="Veterinarias De Colombia" textWrap="true"></Label>
            <Label class="separador" textWrap="true"></Label>

            <Label class="txts" text="Creado con amor en Bogotá Colombia, amor por las mascotas, por esos amigos peludos que siempre están allí esperándonos, y quienes se merecen lo mejor."
                textWrap="true"></Label>
        </StackLayout>

        <StackLayout class="form" *ngIf="_viewTerms">
            <Label text="_viewTerms" textWrap="true"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>