.services
{
    border-bottom-color:#d3d3d3;
    border-bottom-width:1;
    margin: 10;
}

.edit{
    margin-right: 5;
}

.txt{
    margin-top: 45;
    margin-right: -100;
    margin-left: 8;
    font-size: 14;
}

.op-titles{
    font-family: "RighteousRegular";
    text-align: left;
    font-size: 18;
    margin-top: 10;
    margin-bottom: 10;
    margin-right: -50 !important;
    vertical-align: center;
}