.op-titles{
    font-family: "RighteousRegular";
    font-size: 18;
    margin-top: 10;
    margin-bottom: 10;
    margin-left: 10;
    margin-right: -50 !important;
    vertical-align: center;
}

.services
{
    border-bottom-color:#d3d3d3;
    border-bottom-width:1;
    margin-bottom: 10;
}

.txts{
    margin-top: 65;
    margin-right: -100;
    margin-bottom: 15;
    font-size: 14;
}

.edits{
    margin-right: 5;
    margin-top:20;
    vertical-align: center;
}