<ScrollView>
    <StackLayout>
        <Image class="logo" src="res://icon"></Image>
        <Label class="title" text="!Bienvenido!" textWrap="true"></Label>
        <Label text="Porque ellos hacen parte de nosotros, de nuestras familias y se merecen lo mejor, ayudanos a ofrecer un buen servicio, las mascotas son lo primordial."
            textWrap="true"></Label>
        <GridLayout rows="*" columns="*,*" height="70">
            <Button class="btn1" row="0" col="0" text="Registrarme" (tap)="register()"></Button>
            <Button class="btn2" row="0" col="1" text="Iniciar Sesión" (tap)="login()"></Button>
        </GridLayout>
        <Label class="opcion" text="o inicia con" textWrap="true"></Label>
        <Image class="google" src="~/images/googleRojo.png" (tap)="loginGoogle()"></Image>
    </StackLayout>
</ScrollView>